<section id="pricing" class="big-margins">
      <div class="pricingwrap">
        <div class="container text-center">
          <h2>Quanto costa?</h2>

          <div class="row">
            <div class="col-xs-12 col-md-4">
              <div class="panel panel-custom">
                <div class="panel-heading">
                  <h3 class="panel-title">Professionisti</h3>
                </div>
                <div class="panel-body">
                  <div class="the-price">
                    <h2>15 €<span class="subscript">/mese</span></h2>
                  </div>
                  <table class="table table-hover">
                    <tbody>
                      <tr>
                        <td><i class="fa fa-check"></i> Tecnici Illimitati</td>
                      </tr>
                      <tr>
                        <td><i class="fa fa-check"></i> Clienti Illimitati</td>
                      </tr>
                      <tr>
                        <td><span class="badge">40</span> Interventi al mese</td>
                      </tr>
                      <tr>
                        <td><i class="fa fa-check"></i> Supporto via email</td>
                      </tr>
                      <tr>
                        <td><i class="fa fa-times red"></i> Supporto telefonico</td>
                      </tr>
                      <tr>
                        <td><i class="fa fa-times red"></i> Personalizzazione</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!--div class="panel-footer">
                  <a href="#" class="btn btn-theme" role="button">Sign Up</a>
                </div-->
              </div>
            </div>

            <div class="col-xs-12 col-md-4">
              <div class="panel panel-custom">
                <div class="panel-heading">
                  <h3 class="panel-title">PMI</h3>
                </div>
                <div class="panel-body">
                  <div class="the-price">
                    <h2>25 €<span class="subscript">/mese</span></h2>
                  </div>
                  <table class="table table-hover">
                    <tbody>
                      <tr>
                        <td><i class="fa fa-check"></i> Tecnici Illimitati</td>
                      </tr>
                      <tr>
                        <td><i class="fa fa-check"></i> Clienti Illimitati</td>
                      </tr>
                      <tr>
                        <td><span class="badge">100</span> Interventi al mese</td>
                      </tr>
                      <tr>
                        <td><i class="fa fa-check"></i> Supporto via email</td>
                      </tr>
                      <tr>
                        <td><i class="fa fa-check"></i> Supporto telefonico</td>
                      </tr>
                      <tr>
                        <td><i class="fa fa-times red"></i> Personalizzazione</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-md-4">
              <div class="panel panel-custom">
                <div class="panel-heading">
                  <h3 class="panel-title">Custom</h3>
                </div>
                <div class="panel-body">
                  <div class="the-price">
                    <h2>su preventivo</h2>
                  </div>
                  <table class="table table-hover">
                    <tbody>
                      <tr>
                        <td><i class="fa fa-check"></i> Tecnici Illimitati</td>
                      </tr>
                      <tr>
                        <td><i class="fa fa-check"></i> Clienti Illimitati</td>
                      </tr>
                      <tr>
                        <td><span class="badge">ILLIMITATI</span> Interventi al mese</td>
                      </tr>
                      <tr>
                        <td><i class="fa fa-check"></i> Supporto via email</td>
                      </tr>
                      <tr>
                        <td><i class="fa fa-check"></i> Supporto telefonico</td>
                      </tr>
                      <tr>
                        <td><i class="fa fa-check"></i> Personalizzazione</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div><!-- /row -->
        </div><!-- /container -->
      </div><!-- /pricingwrap -->
    </section>
